.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.hero{
    display: flex;
    height: 40vw;
}

@media screen and (max-width: 640px) {
    .hero{
        height: auto;
    }
}